<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.bigdata.mapper.EmployeeMapper">


    <select id="getEmployee" resultType="com.rookie.bigdata.domain.Employee">
        select  id,name,age,salary
            from employee
            where id=#{id}
    </select>

</mapper>
